.textCard {
  height: 190px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--line);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-3);
}
[data-theme='light'] .textCard {
  background-color: rgb(255, 255, 255);
}
[data-theme='dark'] .textCard {
  background-color: rgb(10, 11, 13);
}

.textCardTitle {
  margin-bottom: var(--spacing-1);
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  font-weight: var(--headline-font-weight);
  font-family: var(--headline-font-family);
}

.textCardDescription {
  font-size: var(--label1-font-size);
  line-height: var(--label1-line-height);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
}

.textCardLink {
  width: auto;
  color: rgb(var(--gray100));
  fill: rgb(var(--gray100));
  border-radius: 3px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  align-self: flex-start;
}

.textCardLink svg {
  fill: rgb(var(--gray100)) !important;
}

.textCardLink:hover {
  cursor: pointer;
  color: rgb(var(--gray100));
}
