ASSETS=eth,cbeth,comp,usdc
L1_CHAIN_ID=5
L1_EXPLORER_URL=https://goerli.etherscan.io
L1_EXPLORER_API_URL=https://api-goerli.etherscan.io/api
L2_CHAIN_ID=84531
L2_EXPLORER_URL=https://goerli.basescan.org
L2_EXPLORER_API_URL=https://base-goerli.blockscout.com/api
L1_BRIDGE_PROXY_ADDRESS=0xfA6D8Ee5BE770F84FC001D098C4bD604Fe01284a
L1_OPTIMISM_PORTAL_PROXY_ADDRESS=0xe93c8cD0D409341205A592f8c4Ac1A5fe5585cfA
L2_L1_MESSAGE_PASSER_ADDRESS=0x4200000000000000000000000000000000000016
L2_STANDARD_BRIDGE=0x4200000000000000000000000000000000000010
L2_OUTPUT_ORACLE_PROXY_ADDRESS=0x2A35891ff30313CcFa6CE88dcf3858bb075A2298
L1_CCTP_MESSAGE_TRANSMITTER_ADDRESS=0x26413e8157cd32011e726065a5462e97dd4d03d9
L1_CCTP_TOKEN_MESSENGER_ADDRESS=0xd0c3da58f55358142b8d3e06c1c30c5c6114efe8
L2_CCTP_MESSAGE_TRANSMITTER_ADDRESS=0x9ff9a4da6f2157A9c82CE756f8fD7E0d75be8895
L2_CCTP_TOKEN_MESSENGER_ADDRESS=0x877b8e8c9e2383077809787ED6F279ce01CB4cc8
L1_CCTP_DOMAIN=0
L2_CCTP_DOMAIN=6
MARKETING_URL=https://base.org
DOCS_URL=https://docs.base.org
BLOG_URL=https://base.mirror.xyz
TWITTER_URL=https://twitter.com/base
GITHUB_URL=https://github.com/base-org
MAINNET_LAUNCH_BLOG_POST_URL=https://base.mirror.xyz
MAINNET_LAUNCH_FLAG=false
REDIRECT_MAINNET_BRIDGE=false
GOERLI_BRIDGE_URL=https://goerli-bridge.base.org
SEPOLIA_BRIDGE_URL=https://sepolia-bridge.base.org
MAINNET_BRIDGE_URL=https://bridge.base.org
TOS_VERSION=0x01
MAINNET_GA_LAUNCH_FLAG=true
WALLET_CONNECT_PROJECT_ID=
BRIDGE_API_URL=https://bridge-api.base.org
CCTP_ATTESTATIONS_API_URL=https://iris-api-sandbox.circle.com
CCTP_ENABLED=true