DOCS_URL=https://docs.base.org
BRIDGE_URL=https://bridge.base.org
ALCHEMY_API_KEY=
ALCHEMY_HTTPS=
BLOG_URL=https://base.mirror.xyz
TWITTER_URL=https://twitter.com/base
GITHUB_URL=https://github.com/base-org
MAINNET_LAUNCH_BLOG_POST_URL=https://base.mirror.xyz
MAINNET_LAUNCH_FLAG=false
NEXT_PUBLIC_ECOSYSTEM_LAUNCH_FLAG=false
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
VERIFICATION_VERIFIED_ACCOUNT_SCHEMA_ID=
VERIFICATION_VERIFIED_CB1_ACCOUNT_SCHEMA_ID=
TRUSTED_SIGNER_ADDRESS=
TRUSTED_SIGNER_PRIVATE_KEY=

NEXT_PUBLIC_USERNAMES_EARLY_ACCESS=
NEXT_PUBLIC_BASE_SEPOLIA_PAYMASTER_SERVICE=
NEXT_PUBLIC_BASE_PAYMASTER_SERVICE=
DATADOG_APP_ID=
DATADOG_CLIENT_ID=

NEYNAR_API_KEY=

FARCASTER_DEVELOPER_FID=
FARCASTER_DEVELOPER_MNEMONIC=

ETHERSCAN_API_KEY=
BASESCAN_API_KEY=
TALENT_PROTOCOL_API_KEY=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=