/* Section Styles */
.homepageMain {
  padding: var(--ifm-navbar-height) var(--spacing-4);
  display: flex;
  flex-direction: column;
  gap: var(--ifm-navbar-height);
}

.introSection,
.tutorialsSection,
.footerSection {
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-4);
}

.tutorialsSection {
  grid-template-columns: repeat(4, 1fr);
}

/* Responsive Styles */
@media (max-width: 1280px) {
  .introSection {
    grid-template-columns: repeat(2, 1fr);
  }
  .tutorialsSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .heroContainer {
    padding: var(--spacing-6);
  }

  .heroTextContainer {
    padding: var(--spacing-4);
    height: 400px;
    width: 400px;
  }

  .heroText {
    font-size: 56px;
    line-height: 64px;
  }

  .introSection,
  .tutorialsSection,
  .footerSection {
    grid-template-columns: repeat(1, 1fr);
  }

  .footerSection {
    grid-gap: var(--spacing-6);
  }
}

@media (max-width: 640px) {
  .heroContainer {
    justify-content: center;
  }

  .heroTextContainer {
    height: 300px;
    width: 300px;
  }

  .heroText {
    font-size: 40px;
    line-height: 48px;
  }
}
