@media (max-width: 996px) {
  .walletConnectButton {
    display: block !important;
  }
}

.navbarSidebarHeader {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 150px !important;
  justify-content: center;
  padding: 15px;
  gap: 30px;
  box-shadow: var(--ifm-navbar-shadow);
  padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
}

.navbarSidebarPrimary {
  display: flex;
  flex-direction: row;
}

.navbarSidebarSecondary {
  display: flex;
  flex-direction: row;
}
