.footerCategory {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  flex: 1;
}

.footerCategoryTitle {
  font-size: var(--title3-font-size);
  line-height: var(--title3-line-height);
  font-family: CoinbaseMono;
  font-weight: 500;
  text-transform: uppercase;
}

.footerCategoryList {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.footerCategoryListItem {
  list-style-type: none;
}
.footerCategoryLink {
  color: rgb(var(--gray100));
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
  text-decoration: underline;
}
.footerCategoryLink:hover {
  color: rgb(var(--gray100));
}
