/* Base Learn Sidebar Icons */
/* Override non-category links to be horizontally compact */
li > a.menu__link {
  justify-content: flex-start;
}

.sidebar-coding a::before {
  padding-right: 0.5rem;
  content: url(../../base-learn/assets/images/icons/coding.svg);
}

[data-theme='dark'] .sidebar-coding a::before {
  content: url(../../base-learn/assets/images/icons/coding-white.svg);
}

.sidebar-exercise a::before {
  padding-right: 0.5rem;
  content: url(../../base-learn/assets/images/icons/quizzes.svg);
}

[data-theme='dark'] .sidebar-exercise a::before {
  content: url(../../base-learn/assets/images/icons/quizzes-white.svg);
}

.sidebar-reading a::before {
  padding-right: 0.5rem;
  content: url(../../base-learn/assets/images/icons/reading.svg);
}

[data-theme='dark'] .sidebar-reading a::before {
  content: url(../../base-learn/assets/images/icons/reading-white.svg);
}

.sidebar-stepbystep a::before {
  padding-right: 0.5rem;
  content: url(../../base-learn/assets/images/icons/stepbystep.svg);
}

[data-theme='dark'] .sidebar-stepbystep a::before {
  content: url(../../base-learn/assets/images/icons/stepbystep-white.svg);
}

.sidebar-video a::before {
  padding-right: 0.5rem;
  content: url(../../base-learn/assets/images/icons/video.svg);
}

[data-theme='dark'] .sidebar-video a::before {
  content: url(../../base-learn/assets/images/icons/video-white.svg);
}
