@import url('./fonts.css');
@import url('./root.css');
@import url('./basecamp-sidebar-icons.css');
@import url('./sidebar.css');

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.feature {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
  /* padding: var(--ifm-global-spacing); */
  /* margin: 10px; */
}

.feature-title {
  color: var(--ifm-color-primary);
}

.feature-row {
  display: flex;
  justify-content: center;
}

.hero__title {
  color: hsl(0, 0%, 97%);
  font-family: CoinbaseDisplay;
  font-size: 45px;
  line-height: 52px;
}

.feature {
  background-color: var(--ifm-background-surface-color);
}

.navbar {
  flex-direction: column !important;
  justify-content: space-evenly !important;
  height: 120px !important;
}

/* overriding white text as the alert high a light background */
[data-theme='dark'] .alert-message {
  color: #000;
}

html[data-theme='dark'] .op-light {
  display: none;
}

html[data-theme='dark'] .op-dark {
  display: block;
}

html[data-theme='light'] .op-light {
  display: block;
}

html[data-theme='light'] .op-dark {
  display: none;
}

hr {
  background: var(--ifm-toc-border-color);
  opacity: 1;
}

.table-of-contents {
  font-size: 1rem;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  display: flex;
  align-items: center;
  height: 60px;
}

main {
  min-height: calc(100vh - 60px);
}

main > .container {
  height: 100%;
}

/* Override Algolia Search Styling */
.DocSearch-Container {
  background-color: rgba(10, 11, 13, 0.5) !important;
}

.DocSearch-Modal {
  box-shadow: none !important;
  border-radius: 8px !important;
}

.DocSearch-Form {
  padding: 0 10px 0 6px !important;
  border-radius: 8px !important;
}

.DocSearch-MagnifierLabel {
  display: none !important;
}

.DocSearch-Input {
  font-size: 1rem !important;
}

.DocSearch-Hit-source {
  font-size: 1rem !important;
  padding: 12px 12px 0 12px !important;
}

.DocSearch-Hit a {
  border-radius: 8px !important;
}

.DocSearch-Logo,
a[aria-label='Search by Algolia'] {
  display: none;
}

.DocSearch-Footer {
  box-shadow: none !important;
  justify-content: flex-end !important;
}

@media (max-width: 768px) {
  .DocSearch-Modal {
    border-radius: 0 !important;
  }
}

/* Light Algolia Search Styling */
[data-theme='light'] .DocSearch-Modal,
[data-theme='light'] .DocSearch-Form,
[data-theme='light'] .DocSearch-Hit-source,
[data-theme='light'] .DocSearch-Footer {
  background-color: white !important;
}

[data-theme='light'] .DocSearch-Modal {
  border: 1px solid rgba(91, 97, 110, 0.2);
}

[data-theme='light'] .DocSearch-Hit a {
  background-color: rgb(239, 240, 243);
  box-shadow: none !important;
}

[data-theme='light'] .DocSearch-Footer {
  border-top: 1px solid rgba(91, 97, 110, 0.2);
}

[data-theme='light'] .DocSearch-Button-Placeholder,
[data-theme='light'] .DocSearch-Commands-Key,
[data-theme='light'] .DocSearch-Button-Key,
[data-theme='light'] .DocSearch-Label {
  color: black !important;
}

[data-theme='light'] .DocSearch-Button-Key,
[data-theme='light'] .DocSearch-Commands-Key {
  box-shadow: none;
  background: none !important;
  background-color: white !important;
  box-shadow: inset 0 -1px 0 rgb(141, 148, 158);
  border: 1px solid rgb(141, 148, 158);
  border-radius: 0.2rem;
}

/* Dark Algolia Search Styling */
[data-theme='dark'] .DocSearch-Modal,
[data-theme='dark'] .DocSearch-Form,
[data-theme='dark'] .DocSearch-Hit-source,
[data-theme='dark'] .DocSearch-Footer {
  background-color: rgb(30, 32, 37);
}

[data-theme='dark'] .DocSearch-Modal {
  border: 1px solid rgba(138, 145, 158, 0.2);
}

[data-theme='dark'] .DocSearch-Hit a {
  background-color: rgb(20, 21, 25);
}

[data-theme='dark'] .DocSearch-Footer {
  border-top: 1px solid rgba(138, 145, 158, 0.2);
}

[data-theme='dark'] .DocSearch-Button-Placeholder,
[data-theme='dark'] .DocSearch-Commands-Key,
[data-theme='dark'] .DocSearch-Button-Key,
[data-theme='dark'] .DocSearch-Label {
  color: white !important;
}

[data-theme='dark'] .DocSearch-Button-Key,
[data-theme='dark'] .DocSearch-Commands-Key {
  box-shadow: none;
  background: none !important;
  background-color: black !important;
  box-shadow: inset 0 -1px 0 rgb(141, 148, 158);
  border: 1px solid rgb(141, 148, 158);
  border-radius: 0.2rem;
}
