@import url('./fonts.css');
@import url('./root.css');
@import url('./base-learn-sidebar-icons.css');
@import url('./navbar.css');
@import url('./search.css');
@import url('./sidebar.css');
@import url('./doc-page.css');

.layout-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.feature {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
}

.feature-title {
  color: var(--ifm-color-primary);
}

.feature-row {
  display: flex;
  justify-content: center;
}

.hero__title {
  color: hsl(0, 0%, 97%);
  font-family: CoinbaseDisplay;
  font-size: 45px;
  line-height: 52px;
}

.feature {
  background-color: var(--ifm-background-surface-color);
}

/* overriding white text as the alert high a light background */
[data-theme='dark'] .alert-message {
  color: #000;
}

html[data-theme='dark'] .op-light {
  display: none;
}

html[data-theme='dark'] .op-dark {
  display: block;
}

html[data-theme='light'] .op-light {
  display: block;
}

html[data-theme='light'] .op-dark {
  display: none;
}

hr {
  background: var(--ifm-toc-border-color);
  opacity: 1;
}

.table-of-contents {
  font-size: 1rem;
}

main {
  min-height: calc(100vh - 60px);
}

main > .container {
  height: 100%;
}

svg[class*='iconExternalLink'] {
  display: none !important;
}

.theme-back-to-top-button {
  display: none !important;
}
