main .container {
  /* offset 5 pixels to keep even with breadcrumb padding */
  padding: 25px 105px !important;
  max-width: 100% !important;
}

main .container .row {
  display: block;
  max-width: 100% !important;
  margin: 0 !important;
}

main .container .row .col {
  max-width: 75% !important;
}

@media (max-width: 1536px) {
  main .container .row .col {
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  main .container {
    padding: 25px 30px !important;
  }
}
