main .container {
  /* offset 5 pixels to keep even with breadcrumb padding */
  padding: var(--spacing-5) var(--spacing-6) !important;
  max-width: 100% !important;
}

main .container .row {
  max-width: 100% !important;
  margin: 0 !important;
}

main .container .row .col {
  max-width: 75% !important;
}

.table-of-contents {
  font-size: 1rem;
  padding: 0 30px;
}

.table-of-contents > li > a {
  color: var(--foreground);
}

.table-of-contents li {
  margin: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);
}

.table-of-contents ul li {
  margin: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);
}

.table-of-contents ul li a {
  color: var(--foreground-muted);
}

@media (max-width: 1536px) {
  main .container .row .col {
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  main .container {
    padding: 25px 30px !important;
  }
}
