@font-face {
  font-display: swap;
  font-family: CoinbaseDisplay;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/CoinbaseDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseDisplay;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/CoinbaseDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseSans;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/CoinbaseSans-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseSans;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/CoinbaseSans-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseMono;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/CoinbaseMono-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseMono;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/CoinbaseMono-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseText;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/CoinbaseText-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: CoinbaseText;
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/CoinbaseText-Medium.woff2') format('woff2');
}

body {
  font-family: CoinbaseSans;
  font-size: 16px;
  line-height: 24px;
}
