/* Navbar */
.navbar {
  padding: 24px 32px;
  height: var(--ifm-navbar-height) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
[data-theme='light'] .navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(91, 97, 110, 0.2);
}
[data-theme='dark'] .navbar {
  background-color: rgb(20, 21, 25);
  border-bottom: 1px solid rgba(138, 145, 158, 0.2);
}

/* Navbar Items and Links */
.navbar__items {
  gap: 40px;
}

/* Enable if dropdown menus overflow right boundary */
/* .navbar__items--right .dropdown__menu {
  left: auto !important;
  right: 0 !important;
} */

.navbar__item,
.navbar__link {
  padding: 0;
  font-family: CoinbaseMono !important;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.navbar__link:hover {
  color: inherit !important;
  text-decoration: underline !important;
}
.dropdown .navbar__link:hover {
  text-decoration: none !important;
}

.navbar__link--active,
.navbar__link.active {
  color: inherit !important;
  text-decoration: underline !important;
}

.navbar__social__links {
  display: flex;
  gap: 20px;
}
.navbar__social__links a {
  display: flex;
  align-items: center;
}
[data-theme='light'] .navbar__social__links svg {
  fill: rgb(0, 0, 0) !important;
}
[data-theme='dark'] .navbar__social__links svg {
  fill: rgb(255, 255, 255) !important;
}

/* Dropdown Menu and Links */
.dropdown__menu {
  padding: 20px 0 !important;
  border-radius: 3px !important;
}
[data-theme='light'] .dropdown__menu {
  background-color: rgb(0, 0, 0) !important;
}
[data-theme='dark'] .dropdown__menu {
  background-color: rgb(255, 255, 255) !important;
}

.dropdown__link {
  padding: 20px 40px !important;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  border-radius: 0px !important;
}
.dropdown__link:hover {
  text-decoration: underline !important;
}
[data-theme='light'] .dropdown__link {
  color: rgb(255, 255, 255) !important;
}
[data-theme='dark'] .dropdown__link {
  color: rgb(0, 0, 0) !important;
}

/* Dropdown Caret Icon */
.dropdown .navbar__link::after {
  height: 12px !important;
  width: 12px !important;
  border: none !important;
  transform: translateY(0) !important;
}
[data-theme='light'] .dropdown .navbar__link::after {
  content: url('/assets/icons/caret-down-black.svg') !important;
}
[data-theme='dark'] .dropdown .navbar__link::after {
  content: url('/assets/icons/caret-down-white.svg') !important;
}

/* Hide External Link Icons */
.dropdown__link svg,
.navbar__link svg {
  display: none !important;
}
