/* Navbar */
.navbar {
  padding: var(--spacing-3) var(--spacing-4);
  height: var(--ifm-navbar-height) !important;
  border-bottom: 1px solid var(--line);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
[data-theme='light'] .navbar,
[data-theme='light'] .navbar-sidebar {
  background-color: rgb(var(--gray0));
}
[data-theme='dark'] .navbar,
[data-theme='dark'] .navbar-sidebar {
  background-color: rgb(var(--gray5));
}

.navbar-sidebar .menu {
  padding: 0 30px 30px 30px !important;
}

.navbar-sidebar .menu button:first-of-type {
  padding: 10px 0;
  margin: 0;
  background-color: transparent;
}

/* Navbar Items and Links */
.navbar__items {
  gap: 40px;
}

/* Enable if dropdown menus overflow right boundary */
.navbar__items--right .dropdown__menu {
  left: auto !important;
  right: 0 !important;
}

.navbar__item,
.navbar__link,
.dropdown__link {
  padding: 0;
  font-family: CoinbaseMono;
  font-size: var(--title3-font-size);
  line-height: var(--title3-line-height);
  font-weight: var(--title3-font-weight);
}

.navbar__link:hover,
.dropdown__link:hover {
  color: inherit;
  text-decoration: underline;
}

.navbar__link--active,
.navbar__link.active {
  color: inherit;
  text-decoration: underline;
}

.navbar__social__links {
  display: flex;
  gap: 20px;
}
.navbar__social__links a {
  display: flex;
  align-items: center;
  fill: rgb(var(--gray100));
}

/* Dropdown Menu and Links */
.dropdown__menu {
  padding: 20px 0;
  border-radius: 3px;
  background-color: rgb(var(--gray100));
}

.dropdown__link {
  color: rgb(var(--gray0)) !important;
}

.dropdown__link:hover {
  text-decoration: underline;
}
.dropdown__link--content {
  padding: 10px var(--spacing-5);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* Dropdown Caret Icon */
.dropdown .navbar__link::after {
  height: 12px;
  width: 12px;
  border: none;
  transform: translateY(0);
}
[data-theme='light'] .dropdown .navbar__link::after {
  content: url('/assets/icons/caret-down-black.svg');
}
[data-theme='dark'] .dropdown .navbar__link::after {
  content: url('/assets/icons/caret-down-white.svg');
}

/* Hide External Link Icons */
.navbar__link svg {
  display: none;
}

@media (max-width: 996px) {
  .navbar-sidebar__items .navbar__item,
  .navbar-sidebar__items .dropdown__link {
    display: block !important;
    color: var(--foreground-muted);
    margin-top: 0.25rem;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
  }
}
