/* Override Algolia Search Styling */
.searchBox_src-theme-Navbar-Search-styles-module {
  padding: 0 !important;
}

.DocSearch-Button {
  width: 300px;
  border-radius: 3px !important;
  padding: 0 20px !important;
}
.DocSearch:hover {
  box-shadow: none !important;
}

.DocSearch-Container {
  background-color: var(--background-overlay) !important;
}

.DocSearch-Button-Container {
  gap: 5px;
}

[data-theme='light'] .DocSearch-Button {
  background-color: rgb(235, 237, 240) !important;
}
[data-theme='dark'] .DocSearch-Button {
  background-color: rgb(50, 53, 61) !important;
}

.DocSearch-Button-Placeholder {
  font-family: CoinbaseSans !important;
  font-size: var(--body-font-size) !important;
  font-weight: var(--body-font-weight) !important;
  line-height: var(--body-line-height) !important;
  color: rgb(var(--gray60)) !important;
}

.DocSearch-Search-Icon {
  width: 15px;
  height: 15px;
  stroke-width: 2.5px !important;
}

.DocSearch-Button-Keys {
  gap: var(--spacing-0\.5);
}

.DocSearch-Button-Key,
.DocSearch-Commands-Key {
  width: auto !important;
  height: 24px !important;
  margin: 2px 0 0 0 !important;
  padding: 0 var(--spacing-0\.5) !important;
  font-size: var(--body-font-size) !important;
  font-weight: var(--body-font-weight) !important;
  color: rgb(var(--gray100)) !important;
  background: none !important;
  background-color: rgb(var(--gray0)) !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  border: 1px solid var(--line) !important;
}

.DocSearch-Commands-Key {
  margin-right: var(--spacing-0\.5) !important;
}

.DocSearch-Modal {
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  border: 1px solid var(--line) !important;
}

.DocSearch-Form {
  padding: 0 10px 0 6px !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  border: 1px solid var(--line-heavy) !important;
}

.DocSearch-MagnifierLabel {
  display: none !important;
}

.DocSearch-Input {
  font-size: 1rem !important;
}

.DocSearch-Hit-source {
  font-size: 1rem !important;
  padding: 12px 12px 0 12px !important;
}

.DocSearch-Hit:not([aria-selected='true']) a {
  border-radius: 3px !important;
  background-color: rgb(var(--gray5));
  box-shadow: none !important;
}

.DocSearch-Logo,
a[aria-label='Search by Algolia'] {
  display: none;
}

.DocSearch-Label {
  color: rgb(var(--gray100)) !important;
}

.DocSearch-Footer {
  box-shadow: none !important;
  justify-content: flex-end !important;
  border-top: 1px solid var(--line);
}

/* Light Algolia Search Styling */
[data-theme='light'] .DocSearch-Modal,
[data-theme='light'] .DocSearch-Form,
[data-theme='light'] .DocSearch-Hit-source,
[data-theme='light'] .DocSearch-Footer {
  background-color: rgb(var(--gray0));
}

/* Dark Algolia Search Styling */
[data-theme='dark'] .DocSearch-Modal,
[data-theme='dark'] .DocSearch-Form,
[data-theme='dark'] .DocSearch-Hit-source,
[data-theme='dark'] .DocSearch-Footer {
  background-color: rgb(var(--gray10));
}

@media (max-width: 768px) {
  .DocSearch-Modal {
    border-radius: 0 !important;
  }
  .DocSearch-Button {
    width: 200px !important;
  }
}
