/* Floating Chat Button Styles */
.floatingChatButtonContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.floatingChatButton {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
[data-theme='light'] .floatingChatButton {
  fill: black;
}
[data-theme='dark'] .floatingChatButton {
  fill: white;
}

.floatingChatButtonTooltip {
  position: absolute;
  top: -2.75rem;
  right: 0;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 3px 10px;
  white-space: nowrap;
  animation: tooltip-fade-in 0.2s ease-in-out;
}
[data-theme='light'] .floatingChatButtonTooltip {
  color: white;
  background: black;
}
[data-theme='dark'] .floatingChatButtonTooltip {
  color: black;
  background: white;
}

.tooltipPoint {
  height: 0.6rem;
  width: 0.6rem;
  rotate: 45deg;
  position: absolute;
  bottom: -0.25rem;
  right: 2rem;
  border-radius: 1px;
}
[data-theme='light'] .tooltipPoint {
  background-color: black;
}
[data-theme='dark'] .tooltipPoint {
  background-color: white;
}

@keyframes tooltip-fade-in {
  from {
    opacity: 0%;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* Chat Modal Styles */
.chatModalBody {
  padding: 1.5rem;
  flex-grow: 1;
}

.chatModalFooter {
  padding: 1.5rem;
  flex-grow: 0;
}
[data-theme='light'] .chatModalFooter {
  border-top: 1px solid rgba(91, 97, 110, 0.2);
}
[data-theme='dark'] .chatModalFooter {
  border-top: 1px solid rgba(138, 145, 158, 0.2);
}

.conversationContainer {
  width: 100%;
  max-height: 500px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  position: relative;
  overflow-y: scroll;
}
[data-theme='light'] .conversationContainer * {
  fill: black;
}
[data-theme='dark'] .conversationContainer * {
  fill: white;
}

.chatMessageContainer {
  width: 100%;
}

.chatMessage {
  width: 100%;
  display: flex;
  gap: 0.75rem;
  padding-right: 2.25rem;
}

.chatMessageIcon {
  display: flex;
  flex-shrink: 0;
}

.chatMessageContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: auto;
}

.chatMessageContent pre {
  overflow-x: scroll;
}

.chatMessageContent code {
  font-size: 0.9rem;
}

/* Remove margin from lists, first list items, and code blocks in parsed markdown */
.chatMessageContent ol,
.chatMessageContent ul,
.chatMessageContent ol li:first-of-type p,
.chatMessageContent ul li:first-of-type p,
.chatMessageContent pre {
  margin: 0 !important;
}

.responseRatingPrompt {
  padding: 1.5rem 0 0 2.25rem;
}

.responseRatingButtonContainer {
  display: flex;
  padding: 0.25rem 0 0 2.25rem;
}

.helpfulButton,
.notHelpfulButton {
  appearance: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5rem 0.6rem;
}

.helpfulButton:hover,
.notHelpfulButton:hover {
  cursor: pointer;
  transform: rotate(-8deg);
  transition-property: all;
  transition-duration: 200ms;
}

[data-theme='light'] .helpfulButton svg,
[data-theme='light'] .notHelpfulButton svg {
  fill: black;
}

[data-theme='dark'] .helpfulButton svg,
[data-theme='dark'] .notHelpfulButton svg {
  fill: white;
}

[data-theme='light'] .helpfulButton:hover,
[data-theme='light'] .notHelpfulButton:hover {
  background-color: rgb(238, 240, 243);
}

[data-theme='dark'] .helpfulButton:hover,
[data-theme='dark'] .notHelpfulButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.notHelpfulButton > svg {
  margin-bottom: -5px;
  transform: scale(-1, 1);
}

/* Override styles for disabled buttons */
.disabledButton {
  opacity: 0.5 !important;
  cursor: default !important;
}
.disabledButton:hover {
  transform: none !important;
  background-color: transparent !important;
}

.chatMessageSourcesLabel {
  width: 100%;
  font-weight: 500;
  padding: 1rem 0 0 2.25rem;
}

.chatMessageSourcesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2.25rem;
}

.chatMessageSource {
  max-width: 215px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 0.75rem;
  border-radius: 0.33rem;
  overflow-x: hidden;
  white-space: nowrap;
}
[data-theme='light'] .chatMessageSource {
  color: black;
  border: 1px solid rgba(91, 97, 110, 0.5);
}
[data-theme='dark'] .chatMessageSource {
  color: white;
  border: 1px solid rgba(138, 145, 158, 0.67);
}

.chatMessageDivider {
  width: 100%;
}
[data-theme='light'] .chatMessageDivider {
  border-top: 1px solid rgba(91, 97, 110, 0.2);
}
[data-theme='dark'] .chatMessageDivider {
  border-top: 1px solid rgba(138, 145, 158, 0.2);
}

.resetButton,
.stopGeneratingButton {
  font-family: CoinbaseSans;
  padding: 0.25rem 0.5rem;
  border-radius: 0.33rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  appearance: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
[data-theme='dark'] .resetButton,
[data-theme='dark'] .stopGeneratingButton {
  fill: white;
  background: rgba(58, 61, 69, 0.9);
}
[data-theme='dark'] .resetButton:hover,
[data-theme='dark'] .stopGeneratingButton:hover {
  background: rgb(58, 61, 69);
}
[data-theme='dark'] .resetButton:active,
[data-theme='dark'] .stopGeneratingButton:active {
  background: rgb(50, 52, 59);
}

.resetButton {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  z-index: 250;
}

.stopGeneratingButton {
  align-self: center;
}

.searchingDocsMessage {
  margin-top: -1.5rem;
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.promptForm {
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
}
[data-theme='light'] .promptForm {
  border: 1px solid rgba(91, 97, 110, 0.5);
}
[data-theme='dark'] .promptForm {
  border: 1px solid rgba(138, 145, 158, 0.67);
}

.promptInput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.5rem;
}

[data-theme='light'] .promptInput::placeholder {
  color: rgba(91, 97, 110, 0.5);
}
[data-theme='dark'] .promptInput::placeholder {
  color: rgba(138, 145, 158, 0.67);
}

.promptInputIcon {
  padding: 1rem;
  display: flex;
}
[data-theme='light'] .promptInputIcon {
  fill: rgba(91, 97, 110, 0.5);
}
[data-theme='dark'] .promptInputIcon {
  fill: rgba(191, 196, 202, 0.67);
}

.submitPromptButton {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  appearance: none;
  background: transparent;
  display: flex;
  align-items: center;
}
[data-theme='light'] .submitPromptButton:hover {
  fill: rgba(91, 97, 110, 0.67);
}
[data-theme='light'] .submitPromptButton:active {
  fill: rgba(75, 79, 90, 0.67);
}
[data-theme='dark'] .submitPromptButton:hover {
  fill: rgba(191, 196, 202, 0.8);
}
[data-theme='dark'] .submitPromptButton:active {
  fill: rgba(164, 168, 172, 0.8);
}

.disclaimerText {
  font-size: 0.75rem;
  text-align: center;
  line-height: 1rem;
  margin-top: 0.5rem;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 832px) {
  .floatingChatButtonContainer {
    bottom: 1rem;
    right: 1rem;
  }

  .conversationContainer {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .chatMessage {
    padding-right: 0;
  }

  .chatMessage pre {
    padding: 1rem;
  }

  .chatMessageSource {
    max-width: 200px;
  }
}

@media (max-height: 700px) {
  .conversationContainer {
    max-height: 350px;
  }
}
