.connectButton {
  padding: 8px 32px 8px 32px;
  border: 1px solid var(--ifm-navbar-link-color);
  border-radius: 3px;
  font-family: CoinbaseMono;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
}

.errorButton {
  padding: 8px 32px 8px 32px;
  border: 1px solid var(--ifm-navbar-link-color);
  border-radius: 3px;
  font-family: CoinbaseMono;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
}

.network {
  background-color: transparent;
  cursor: pointer;
}

.network div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  overflow: 'hidden';
}

.network::after {
  width: 16px;
  height: 16px;
  padding: 0px 4px;
  transform: translateY(0);
}
[data-theme='light'] .network::after {
  content: url('/assets/icons/caret-down-black.svg');
}
[data-theme='dark'] .network::after {
  content: url('/assets/icons/caret-down-white.svg');
}

[data-theme='light'] .network {
  color: rgb(var(--gray100)) !important;
  border-radius: 6px;
}

[data-theme='dark'] .network {
  color: rgb(var(--gray100)) !important;
  border-radius: 6px;
}

.identity {
  font-family: CoinbaseMono;
  font-size: var(--body-font-size) !important;
  font-weight: var(--body-font-weight) !important;
  line-height: var(--body-line-height) !important;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(var(--gray100)) !important;
}

.identityContainer {
  border-radius: 3px;
  padding: 6px 12px !important;
  cursor: pointer;
  background-color: var(--base-docs-color-nav-container) !important;
}

.networkContainer {
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 54px;
  cursor: pointer;
  background-color: var(--base-docs-color-nav-container) !important;
}

.avatar {
  overflow: hidden;
  border-radius: 9999px;
}
