.docFeedbackContainer {
  margin: 4rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackPrompt {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.feedbackButtonContainer {
  display: flex;
  gap: 0.5rem;
}

.editDocLink {
  margin: 12px 0;
  font-size: 0.9rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: currentColor;
  fill: currentColor;
}
.editDocLink:hover {
  color: currentColor;
}

/* Helpful/Not Helpful Buttons */
.helpfulButton,
.notHelpfulButton {
  appearance: none;
  background-color: transparent;
  border-radius: 9999px;
  padding: 0.75rem;
}

.helpfulButton:hover,
.notHelpfulButton:hover {
  cursor: pointer;
  transform: rotate(-10deg);
  transition-property: all;
  transition-duration: 200ms;
}

[data-theme='light'] .helpfulButton svg,
[data-theme='light'] .notHelpfulButton svg {
  fill: black;
}

[data-theme='dark'] .helpfulButton svg,
[data-theme='dark'] .notHelpfulButton svg {
  fill: white;
}

[data-theme='light'] .helpfulButton:hover,
[data-theme='light'] .notHelpfulButton:hover {
  background-color: rgb(238, 240, 243);
}

[data-theme='dark'] .helpfulButton:hover,
[data-theme='dark'] .notHelpfulButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.notHelpfulButton > svg {
  margin-bottom: -5px;
  transform: scale(-1, 1);
}

/* Feedbak Modal Header/Footer */
.feedbackModalHeader {
  display: flex;
  justify-content: center;
}

[data-theme='light'] .feedbackModalHeader {
  color: black;
}

[data-theme='dark'] .feedbackModalHeader {
  color: white;
}

.feedbackModalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

/* Feedback Modal Submit/Cancel Buttons */
.feedbackModalSubmit,
.feedbackModalCancel {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--cds-font-display);
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 9999px;
  cursor: pointer;
}

.feedbackModalSubmit:active,
.feedbackModalCancel:active {
  transform: scale(0.98);
}

[data-theme='light'] .feedbackModalSubmit {
  color: white;
  background-color: rgb(0, 82, 255);
}
[data-theme='light'] .feedbackModalSubmit:hover {
  background-color: rgb(1, 76, 236);
}

[data-theme='dark'] .feedbackModalSubmit {
  color: rgb(10, 11, 13);
  background-color: rgb(55, 115, 245);
}
[data-theme='dark'] .feedbackModalSubmit:hover {
  background-color: rgb(71, 126, 246);
}

[data-theme='light'] .feedbackModalCancel {
  background-color: rgb(238, 240, 243);
}
[data-theme='light'] .feedbackModalCancel:hover {
  background-color: rgb(233, 235, 238);
}

[data-theme='dark'] .feedbackModalCancel {
  background-color: rgb(50, 53, 61);
}
[data-theme='dark'] .feedbackModalCancel:hover {
  background-color: rgb(58, 61, 69);
}

/* Feedback Modal Select */
.feedbackModalSelectLabel {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.feedbackModalSelectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.feedbackModalSelect {
  width: 100%;
  background-color: transparent;
  font-size: 1rem;
  font-family: var(--cds-font-display);
  cursor: pointer;
  appearance: none;
}

[data-theme='light'] .feedbackModalSelectContainer {
  background-color: white;
  border: 1px solid rgba(91, 97, 110, 0.5);
}
[data-theme='light'] .feedbackModalSelectContainer:hover {
  background-color: rgb(238, 240, 243);
}
[data-theme='light'] .feedbackModalSelect {
  color: black;
}

[data-theme='dark'] .feedbackModalSelectContainer {
  background-color: rgb(30, 32, 37);
  border: 1px solid rgba(138, 145, 158, 0.68);
}
[data-theme='dark'] .feedbackModalSelectContainer:hover {
  background-color: rgb(40, 42, 47);
}
[data-theme='dark'] .feedbackModalSelect {
  color: white;
}
[data-theme='dark'] .feedbackModalSelectContainer svg {
  fill: white;
}

@media (max-width: 997px) {
  .feedbackModalSelect {
    max-width: 225px;
  }
}
