.heroContainer {
    background-color: #0052FF;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.titleContainer {
    margin: 0;
}

.heroTitle {
    line-height: 137.5px;
    margin: 0;
    padding: 0;
    font-family: CoinbaseDisplay;
    color: white;
    font-size: 125px;
    font-weight: 400;
}

.chartContainer {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.secondaryContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ctaContainer {
    margin: 0 10px;
}

.ctaText {
    width: 425px;
    font-size: 17px;
    font-family: CoinbaseSans;
    margin-bottom: 20px;
}

.ctaButton {
    height: 44px;
    width: 164px;
    background-color: white;
    color: #1D1818;
    font-size: 16px;
    font-family: CoinbaseMono;
    font-weight: 500;
    text-align: center;
}

.secondaryTitleContainer {
    margin-right: 10px;
}
