.heroContainer {
    background-color: #0052FF;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.titleContainer {
    margin: 0;
}

.heroTitle {
    margin: 0;
    padding: 0;
    font-family: CoinbaseDisplay;
    color: white;
    font-size: 125px;
    line-height: 1.1;
    font-weight: 400;
}

.chartContainer, .secondaryContentContainer {
    margin: 0 10px;
    width: 100%;
}

.secondaryContentContainer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ctaContainer {
    margin: 0;
}

.ctaText {
    max-width: 425px;
    font-size: 17px;
    font-family: CoinbaseSans;
    margin-bottom: 20px;
}

.ctaButton {
    height: 44px;
    width: 164px;
    background-color: white;
    color: #1D1818;
    font-size: 16px;
    font-family: CoinbaseMono;
    font-weight: 500;
    text-align: center;
}

.secondaryTitleContainer {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Responsive Font-sizing for Hero Title Text */
@media screen and (max-width: 1200px) {
    .heroTitle {
        font-size: 100px;
    }
    .heroContainer {
        padding: 20px 30px;
    }
}
@media screen and (max-width: 850px) {
    .heroTitle {
        font-size: 80px;
    }
    .heroContainer {
        padding: 15px 20px;
        gap: 10px;
    }
}
@media screen and (max-width: 610px) {
    .heroTitle {
        font-size: 60px;
    }
}
@media screen and (max-width: 480px) {
    .heroTitle {
        font-size: 45px;
    }
    .ctaText {
        font-size: 11px;
    }
}
