.tocTitle {
  font-family: CoinbaseMono !important;
  font-size: var(--body-font-size) !important;
  font-weight: 500 !important;
  line-height: var(--body-line-height) !important;
  padding-bottom: 4px;
}

.backLink {
  font-family: CoinbaseMono !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: var(--body-line-height) !important;
  text-decoration: underline;
  padding-top: 4px;
}
