@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
    font-display: swap;
    font-family: "CoinbaseDisplay";
    font-style: normal;
    font-weight: 400;
    src: url("https://static-assets.coinbase.com/design-system/fonts/CoinbaseDisplay-Regular.woff2")
      format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "CoinbaseDisplay";
    font-style: normal;
    font-weight: 500;
    src: url("https://static-assets.coinbase.com/design-system/fonts/CoinbaseDisplay-Medium.woff2")
      format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "CoinbaseSans";
    font-style: normal;
    font-weight: 400;
    src: url("https://static-assets.coinbase.com/design-system/fonts/CoinbaseSans-Regular.woff2")
      format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "CoinbaseSans";
    font-style: normal;
    font-weight: 500;
    src: url("https://static-assets.coinbase.com/design-system/fonts/CoinbaseSans-Medium.woff2")
      format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "CoinbaseText";
    font-style: normal;
    font-weight: 400;
    src: url("https://static-assets.coinbase.com/design-system/fonts/CoinbaseText-Regular.woff2")
      format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "CoinbaseText";
    font-style: normal;
    font-weight: 500;
    src: url("https://static-assets.coinbase.com/design-system/fonts/CoinbaseText-Medium.woff2")
      format("woff2");
  }

  * {
    font-family: CoinbaseMono;
  }