h1 {
  font-family: CoinbaseFont;
  text-align: center;
  
  margin-top: 200px;

}

.back-link {
  padding: 16px 40px;
  border: 1px solid #a9b6c2;
  border-radius: 5px;
  
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: CoinbaseFont;
  color: #000;
}

.back-link:hover {
  opacity: 0.7;
}

.button-container {
  margin-top: 40px;
  text-align: center;
}
