.chartColumnsContainer {
  margin: 0;
  padding-right: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.chartLegendContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chartLegend {
  color: white;
  font-size: 11px;
  font-family: CoinbaseText;
}

a.chartLegend:hover {
  color: white;
}

.chartColumnContainer {
  height: 205px;
  width: 100%;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.chartColumnValue {
  padding-left: 15px;
  color: #ffffff50;
  font-size: 25px;
  font-weight: 400;
  font-family: CoinbaseDisplay;
}

.chartColumnBase,
.chartColumnEven,
.chartColumnOdd {
  padding-left: 15px;
  color: #0052ff;
  font-size: 11px;
  font-family: CoinbaseText;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chartColumnBase {
  background-color: white;
}

.chartColumnEven {
  background-color: #ffffff95;
}

.chartColumnOdd {
  background-color: #ffffff50;
}

.chartColumnName {
  margin-bottom: 5px;
}

@media screen and (max-width: 610px) {
  .chartColumnValue {
    font-size: 15px;
  }
  .chartLegend {
    font-size: 10px;
  }
  .ctaText {
    width: 325px;
  }
  .chartColumnBase,
  .chartColumnEven,
  .chartColumnOdd {
    padding: 0;
  }
  .chartColumnName {
    margin: 5px auto;
  }
}
