.tutorialInfo {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  font-family: CoinbaseSans !important;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.tutorialAuthor {
  color: var(--primary) !important;
}

.tutorialAuthor:hover {
  text-decoration: none;
}
