.pageSectionTitle {
  color: rgb(var(--gray60));
  font-size: var(--label1-font-size);
  line-height: var(--label1-line-height);
  font-weight: var(--label1-font-weight);
  font-family: var(--label1-font-family);
}

.pageSectionDescription {
  margin-bottom: var(--spacing-4);
  max-width: 440px;
  color: rgb(var(--gray100));
  font-size: var(--display3-font-size);
  line-height: var(--display3-line-height);
  font-weight: var(--display3-font-weight);
  font-family: var(--display3-font-family);
}
